body{
    margin: 0;
    background: radial-gradient(#06111a,#000000);
    height: 100vh;
    overflow: hidden;
}

#grid{
    position:absolute;
    /* margin-top: -20px; */
    width: 100%;
    height: 100%;
    background-image: linear-gradient(#fcfcfc02 .1em, transparent .1em), linear-gradient(90deg, #fcfcfc02 .1em, transparent .1em);
    background-size: 1em 1em;
    z-index: -1;
}

nav{
    display: flex;
    background:#0E273C;
    border-radius: 15px;
    width:50%;
    height:25px;
    margin-left:25%;
    margin-top: 20px;
}

a{
    color:#E8D7F1;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    text-decoration: none;
    margin: auto;
}

a:hover{
    color:#D3BCCC;
}

#currentLink{
    color:#A584AB;
}

#colorPalette > #flex-container{
    display:flex;
}

#flex-container > *{
    height: 100px;
    width: 100px;
    margin:0;
}

#canvasContainer{
    position: fixed;
    top:0;
    left: 0;
    z-index:-1;
    width:100%;
    height:100%;
    overflow:hidden;
}

canvas{
    width:100%;
    height: 100%;
    display: block;
}

